@import url("https://fonts.googleapis.com/css2?family=Poppins&family=Potta+One&display=swap");

* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
  font-family: "Poppins", sans-serif;
}

body {
    margin: 0;
    height: 100vh;
    display: flex;
    align-items: center;
    justify-content: center;
    background: #dde6fc;
}

.container {
  width: 22rem;
  background-color: white;
  border-radius: 5px;
  padding: 30px;
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
}

#user{
    color: #040fa1;
    text-transform: capitalize;
    font-size: 20px;
    padding-right: 0.3rem;
    
}

#greet{
    text-transform: capitalize;
}

#para{
    margin: 1rem 0;
    font-size: 15px;
    font-weight: 600;
    color:rgb(22, 45, 180);
}

.inputs {
  display: flex;
  flex-direction: column;
  margin: 15px 0;

}

.inputs input {
  outline: none;
  height: 40px;
  margin-top: 0.5rem;
  padding: 10px 20px;
  font-size: 16px;
  
}

#results {
  font-size: 20px;
  text-align: center;
  color: #040fa1;
  margin: 5px;
  font-weight: 600;
}

.calcBtn {
  width: 100%;
  padding: 8px 0;
  margin-top: 10px;
  border-radius: 5px;
  border-style: none;
  background: #040fa1;
  color: #fff;
  font-weight: 500;
  cursor: pointer;
  font-size: 18px;
}

#message {
  text-align: center;
}
#intro{
    text-align: center;
}