@import url("https://fonts.googleapis.com/css2?family=Poppins&family=Potta+One&display=swap");

body {
    font-family: "Poppins", sans-serif;
    margin: 0;
    padding: 0;
    background: #dde6fc;
}

.container {
    max-width: 60%;
    margin: 20px auto;
    background: #fff;
    padding: 20px;
    border-radius: 10px;
    box-shadow: 0 0 20px rgba(0, 0, 0, 0.1);
}

h2 {
    text-align: center;
    color: #333;
    margin-bottom: 30px;
    font-size: 2em;
}

.accordion {
    margin-top: 20px;
}

.accordion-item {
    border-bottom: 1px solid #ccc;
    margin-bottom: 10px;
    border-radius: 5px;
    overflow: hidden;
    box-shadow: 0 2px 5px rgba(0, 0, 0, 0.1);
}

.accordion-question {
    width: 100%;
    background: #f9f9f9;
    border: none;
    text-align: left;
    padding: 15px;
    font-size: 16px;
    cursor: pointer;
    outline: none;
    transition: background 0.3s ease, color 0.3s ease;
    display: flex;
    justify-content: space-between;
    align-items: center;
    font-weight: 500;
}

.accordion-question:hover, .accordion-question:focus, .accordion-question img:hover {
    color: #040fa1;
    background-color: #cad9fe;
    font-weight: 600;
}

.accordion-question img {
    width: 20px;
    height: 20px;
    transition: transform 0.3s ease;
}

.accordion-question.active img {
    transform: rotate(45deg);
}

.accordion-answer {
    display: none;
    padding: 15px;
    background: #f1f1f1;
    font-size: 14px;
    animation: slide-down 0.3s ease;
}

.accordion-answer p {
    margin: 0;
}

@keyframes slide-down {
    from {
        opacity: 0;
        transform: translateY(-10px);
    }
    to {
        opacity: 1;
        transform: translateY(0);
    }
}
