@import url("https://fonts.googleapis.com/css2?family=Poppins&family=Potta+One&display=swap");

body {
    display: flex;
    justify-content: center;
    align-items: center;
    height: 100vh;
    background-color: #dde6fc;
    font-family:'Franklin Gothic Medium', 'Arial Narrow', Arial, sans-serif;
    font-family: "Poppins", sans-serif;
}
.container {
    text-align: center;
    padding: 20px;
    width: 500px;
    background-color: #ffffff;
    border-radius: 8px;
    box-shadow: 0 0 10px rgba(0,0,0,0.1);
    display: flex;
    flex-direction: column;
    align-items: center;
}
.color-input {
    margin: 10px;
    text-align: center;
    width: 80%;
    border: 1px solid black;
    border-radius: 5px;
    outline: none;
    height: 40px;
    padding: 10px 20px;
    font-size: 20px;
}

#colorbtn {
    padding: 10px 30px;
    margin: 20px 0px;
    cursor: pointer;
    background: #040fa1;
    color: #fff;
    border: none;
    font-size: 1.2rem;
    border-radius: 5px;
}
#colorPreview {
    width: 200px;
    height: 200px;
    margin-top: 20px;
    border-radius: 8px;
    box-shadow: 0 0 10px rgba(0,0,0,0.2);
}

h5{
    font-size: 20px;
    text-align: center;
    color: #040fa1;
    font-weight: 600;
}