@import url("https://fonts.googleapis.com/css2?family=Poppins&family=Potta+One&display=swap");

*{
    box-sizing: border-box;
    margin: 0;
    font-family: "Poppins", sans-serif;
}

body, html {
    height: 100%;
    margin: 0;
    display: flex;
    justify-content: center;
    align-items: center;
    background-color: #dde6fc;
}

.container{
    min-height: 40vh;
    width: 600px;
    background-color: white;
    border-radius: 5px;
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: space-evenly;
}

.heading{
    font-size: 4rem;
    text-transform: uppercase;
    font-weight: 700;
    color: black;
}

.counter-preview{
    color: #040fa1;
    font-size: 5rem;
    font-weight: 700;
    border-bottom: 4px solid #040fa1;
    margin-bottom: 5px;
}

.buttons{
    margin: 20px 0px;
}

.buttons button{
    font-size: 18px;
    font-weight: 500;
    margin: 0 10px;
    padding: 10px 15px;
    color: white;
    border: none;
    border-radius: 5px;
    cursor: pointer;
}

.decrement {
    background-color: #4caf50;
}

.reset {
    background-color: #f44336;
}

.increment {
    background-color: #2196f3;
}